*{
	box-sizing: border-box;
}
body{
	display: grid;
	grid-auto-columns: 1fr 4fr;
	grid-template-rows: minmax(50px, auto) auto auto auto;
	grid-template-areas: 
	"aside header"
	"aside design-types"
	".top-designers"
	".footer"
}
.header_content{
	grid-area: header;
	border-bottom: 1px solid #f2f2f2;
}
.sidebar_content{
	grid-area: aside;
	background: black;
}
.design_types{
	grid-area: design-types;
}
.top_designers{
	grid-area: top-designers;
}
.footer_content{
	grid-area: footer;
}
.header_content_container{
	max-width: 1200px;
	width: 100%;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.profile_icons_container ul{
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: auto;
	grid-column-gap: 30px;
	align-items: center;
}
.search_form_container{
	position: relative;
}
.search_form_container input{
	width: 346px;
	border-radius: 12px;
	padding:10px;
	background: #F8F8F8;
	border-radius: 12px;
	border: none;
	transition: .5s;
}
.search_form_container a{
	position: absolute;
	left: 85%;
	top: 19%;
}
.search_form_container input[type="text"]:hover{
	font-size: 20px;
}
.profile_icons_container .go_pro{
	color: #FF2288;
	font-size: 14px;
	font-family: Avenir Heavy;
}
.profile_icons_container .upload{
	color: #FFFFFF;
	font-size: 14px;
	font-family: Avenir Heavy;
	padding: 17px 40px 20px 36px;
	background: #FF2288;
	border: none;
	border-radius: 12px;
	cursor: pointer;
}
.mail_dot_relative, .bell_dot_relative{
	position: relative;
}
.mail_dot::before, .bell_dot::before{
	content: "";
	width: 8px;
	height: 8px;
	background: #FF2288;
	border: 1px solid #FFFFFF;
	border-radius: 12px;
	position: absolute;
	left: 60%;
}
.sidebar_container{
	max-width: 250px;
	width: 100%;
	margin: 25px auto ;
}
.logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sidebar_nav{
	margin: 40px 0 89px;
}
.flex_nav_li{
	display: flex;
	align-items: center;
	border-radius: 12px;
	padding: 10px;
}
.hover_nav_li:hover{
	background: #FF2288;
	cursor: pointer;
}
.style_nav_text{
	margin-left: 15px;
	color: #FFFFFF;
	font-family: 'Avenir Medium';
}
.following{
	margin: 0 0 10px 15px;
}
.flex_following_li{
	display: flex;
	align-items: center;
	margin-top: 5px;
}
.style_following_text{
	margin-left: 21px;
	color: #FFFFFF;
	font-family: 'Avenir Medium';
}
.title_following{
	color: #FFFFFF;
	font-family: Avenir Heavy;
}
.following .load_more{
	margin-top: 19px;
	font-size: 14px;
	background: none;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
}
.design_types_container{
	max-width: 1024px;
	width: 100%;
	margin: 20px auto;
}
.design_types_nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.design_types_nav ul{
	display: flex;
}
.design_types_nav .all_a_style{
	font-family: 'Avenir Heavy';
	color: #222222;
	padding: 16px 20px 19px 18px;
	border-radius:12px ;
	background: #F2F2F2;
	transition: .5s;
}
.design_types_nav .other_a_style{
    font-family: 'Avenir Book';
    color: #222222;
    margin-left: 50px;
    transition: .5s;
}
.other_a_style:hover,.all_a_style:hover {
	color: gray;
}
.filters_container{
	display: flex;
	align-items: center;
	padding: 16px 27px 16px 24px;
	border: 1px solid #D8D8D8;
	border-radius: 12px;
}
.filters_style{
	margin: 15px;
	color: #222222;
	font-family: 'Avenir Heavy';
	transition: .5s;
}
.filters_style:hover{
	color: gray;
}
.photo_description_container img{
    width: 250px;
}
.ui_components_relative{
	position: relative;
}
.svg_plus{
	position: absolute;
	top: 30px;
	left: 35px;
	padding: 5px;
	background: #FFFFFF;
	border-radius: 12px;
	border: none;
	cursor: pointer;
}
.svg_plus:hover{
	background: lightgreen;
}
.svg_heart{
	position: absolute;
	top: 75px;
	left: 35px;
	padding: 5px;
	background: #FFFFFF;
	border-radius: 12px;
	border: none;
	cursor: pointer;
}
.svg_heart:hover{
	background: #6699ff;
}
.photo_description_container p{
	width: 200px;
	margin: 0 auto;
	font-family: 'Avenir Medium';
}
.top_img_row{
	display: flex;
}
.bottom_img_row{
	display: flex;
	margin: 30px 0 86px 0;
}
.more_container{
	display: flex;
	justify-content: center;
}
.design_types_more{
    background: none;
    border: none;
    color: #222222;
    font-family: 'Avenir Heavy';
    cursor: pointer;
    padding: 16px 108px 19px 105px;
    background: #F2F2F2;
    border-radius: 12px;
    transition: .5s;
}
.design_types_more:hover{
	color: gray;
}

